<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <ul>
    <li>What is MelaNostrum?   A consensus Questionnaire of standardized epidemiologic and clinical variables for melanoma risk assessment by the melanostrum consortium.
    </li>
    <li>By who is composed the consortium? MelaNostrum is comprised of researchers and clinicians from Mediterranean Countries (Greece, Italy, and Spain) and investigators at the US National Cancer Institute (NCI) Division of Cancer Epidemiology and Genetics (DCEG). 
      The consortium was established in 2014 to pursue research studies on the genetics of familial and sporadic melanoma. </li>
    <li>What is the purpose?   The main goals of the MelaNostrum are the identification of: i. novel genetic variants associated with increased susceptibility to melanoma in Southern European Countries (Mediterranean area); ii. biomarkers that could aid in the molecular classification of melanoma and in the elucidation of melanoma progression. 
    </li>
  </ul>
  <app-login></app-login>
</div>
