<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button mat-menu-item *ngIf="(auth.currentUserSubject$ | async)?.role === 'ROLE_CASE' ||
      (auth.currentUserSubject$ | async)?.role === 'ROLE_CONTROL'"
              [routerLink]="['/questionnaire/', (auth.currentUserSubject$ | async)?.username]">
        <mat-icon>question_answer</mat-icon>
        <span>Questionnaire</span>
      </button>

      <button mat-menu-item *ngIf="(auth.currentUserSubject$ | async)?.role === 'ROLE_DOCTOR' " routerLink="profile">
        <mat-icon>list</mat-icon>
        <span>Profile</span>
      </button>

      <button mat-menu-item *ngIf="(auth.currentUserSubject$ | async)?.role === 'ROLE_DOCTOR' " routerLink="query">
        <mat-icon>query_builder</mat-icon>
        <span>Query</span>
      </button>

      <button mat-menu-item *ngIf="!(auth.currentUserSubject$ | async)" routerLink="login">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item *ngIf="auth.currentUserSubject$ | async" (click)="logout()" routerLink="home">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  <span class="fill-remaining-space">MelaNostrum</span>
  <div>
    <span class="language" [class.selected-language]="selectedLanguage==='it' " (click)="onChange('it')">IT</span>
    <span> | </span>
    <span class="language" [class.selected-language]="selectedLanguage==='en' " (click)="onChange('en')">EN</span>
  </div>
</mat-toolbar>
<router-outlet class="container"></router-outlet>


