.container {
  width: 100%;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.language{
  font-size: 14px !important;
}

.language:hover{
  cursor: pointer;
}

.selected-language{
  color: #fffc00;
}

.mat-toolbar {
  background-color:#3b7e92 !important;
  color: white;
}

.mat-raised-button.mat-primary {
  background-color: #3b7e92 !important;
}

body {
  margin:0
}
