<div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
    <mat-card>
      <mat-card-title><h2>{{"SECTION" | translate}} A.2</h2></mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>1. {{"SECTION_A2_1_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">
              <br>
              <mat-form-field class="container">
                <mat-label>{{"SECTION_A2_1_LABEL" | translate}}</mat-label>
                <mat-select formControlName="sex">
                  <mat-option *ngFor="let option of sexOpt" [value]="option.value">
                    {{ option.viewValue | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>

          <mat-grid-tile rowspan="2">
            <mat-grid-tile-header>
              <h3>2.1 {{"SECTION_A2_2_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <br>
            <mat-card-content class="container">
              <mat-form-field class="container">
                <input matInput placeholder='{{"SECTION_A2_2_CITY_PLACEHOLDER" | translate}}' formControlName="cityOfBirth">
              </mat-form-field>
              <mat-form-field class="container">
                <input matInput placeholder='{{"SECTION_A2_2_PROVINCE_PLACEHOLDER" | translate}}' formControlName="provinceOfBirth">
              </mat-form-field>
              <mat-form-field class="container">
                <input matInput placeholder='{{"SECTION_A2_2_COUNTRY_PLACEHOLDER" | translate}}' formControlName="countryOfBirth">
              </mat-form-field>
              <mat-form-field class="container">
                <input placeholder='{{"SECTION_A2_2_DATE_PLACEHOLDER" | translate}}'
                       matInput
                       formControlName="dateOfBirth">
                <mat-hint>
                  {{"SECTION_A2_2_DATE_PLACEHOLDER_HINT" | translate}}
                </mat-hint>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>3. {{"SECTION_A2_3_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <br><br>
            <mat-card-content class="container">
              <mat-form-field class="container">
                <input placeholder='{{"SECTION_A2_3_HEIGHT_PLACEHOLDER" | translate}}' matInput formControlName="height">
                <mat-hint>Cm</mat-hint>
              </mat-form-field>
              <mat-form-field class="container">
                <input placeholder='{{"SECTION_A2_3_WEIGHT_PLACEHOLDER" | translate}}' matInput formControlName="weight">
                <mat-hint>Kg</mat-hint>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>4. {{"SECTION_A2_4_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">
              <br><br>
              <mat-form-field>
                <mat-label>{{"SECTION_A2_4_LABEL" | translate}}</mat-label>
                <mat-select formControlName="ethnicity">
                  <mat-option *ngFor="let option of ethnicityOpt" [value]="option.value">
                    {{option.viewValue | translate }}
                  </mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field *ngIf="form.value.ethnicity === 'other'">
                <mat-label>{{"SECTION_A2_4_OTHER_PLACEHOLDER" | translate}}</mat-label>
                <input matInput formControlName="otherEthnicity">
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>

          <mat-grid-tile rowspan="2">
            <mat-grid-tile-header>
              <h3>5. {{"SECTION_A2_5_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">
              <mat-form-field>
                <input matInput placeholder='{{"SECTION_A2_5_CITY_PLACEHOLDER" | translate}}' formControlName="cityOfResidence" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder='{{"SECTION_A2_5_PROVINCE_PLACEHOLDER" | translate}}' formControlName="provinceOfResidence" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder='{{"SECTION_A2_5_COUNTRY_PLACEHOLDER" | translate}}' formControlName="countryOfResidence" required>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>6. {{"SECTION_A2_6_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">

              <mat-form-field class="container">
                <mat-label>{{"SECTION_A2_6_LABEL" | translate}}</mat-label>
                <mat-select formControlName="education">
                  <mat-option *ngFor="let option of educationOpt" [value]="option.value">
                    {{option.viewValue | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>7. {{"SECTION_A2_7_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">

              <mat-form-field>
                <mat-label>{{"SECTION_A2_7_LABEL" | translate}}</mat-label>
                <mat-select formControlName="currentOccupationalStatus" required>
                  <mat-option *ngFor="let option of occupationOpt" [value]="option.value">
                    {{option.viewValue | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>8. {{"SECTION_A2_8_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">
              <p>
                {{"SECTION_A2_8_BODY" | translate}}
              </p>
              <button type="button" mat-raised-button (click)="openHisotryModal()">
                {{"SECTION_A2_8_HISTORY_MODAL_OPEN" | translate}}
              </button>
            </mat-card-content>
          </mat-grid-tile>
        </mat-grid-list>
        <br>
        <div class="button">
          <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary" matStepperNext>
            {{"BUTTON_NEXT" | translate}}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>


<!-- History of occupation -->
<ng-template #occupationDialog class="mat-dialog-container">
  <h2 matDialogTitle>{{"SECTION_A2_8_HISTORY_MODAL_TITLE" | translate}}</h2>
  <form (ngSubmit)="addHistory()" [formGroup]="formHistory">

    <div matDialogContent>
      <br>
      <table mat-table [dataSource]="historyTable" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> {{"SECTION_A2_8_HISTORY_TABLE_COLUMN_SIC" | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.sicCode }} </td>
        </ng-container>

        <!-- Start Column -->
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef> {{"SECTION_A2_8_HISTORY_TABLE_COLUMN_START" | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.occupationStartingTime}} </td>
        </ng-container>

        <!-- End Column -->
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef> {{"SECTION_A2_8_HISTORY_TABLE_COLUMN_END" | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.occupationEndingTime}} </td>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> {{"SECTION_A2_8_HISTORY_TABLE_COLUMN_ACTION" | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" matTooltip="Remove" (click)="removeHistory(element)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br><br>
      <mat-form-field>
        <mat-label>{{"SECTION_A2_8_HISTORY_CODE" | translate}}</mat-label>
        <input matInput formControlName="sicCode" placeholder='{{"SECTION_A2_8_HISTORY_CODE" | translate}}'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{"SECTION_A2_8_HISTORY_START" | translate}}</mat-label>
        <input matInput formControlName="occupationStartingTime" placeholder='{{"SECTION_A2_8_HISTORY_START" | translate}}'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{"SECTION_A2_8_HISTORY_END" | translate}}</mat-label>
        <input matInput formControlName="occupationEndingTime" placeholder='{{"SECTION_A2_8_HISTORY_END" | translate}}'>
      </mat-form-field>
    </div>
    <mat-dialog-actions align="end">
      <button type="submit" [disabled]="!formHistory.valid" mat-raised-button color="primary">
        {{"SECTION_A2_8_HISTORY_BUTTON" | translate}}
      </button>
      <button mat-raised-button color="primary" matDialogClose>
        <mat-icon>close</mat-icon>
        <span>{{"SECTION_A2_8_HISTORY_BUTTON_CLOSE" | translate}}</span>
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>
