<div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
    <mat-card>
      <mat-card-title><h2>Section A.2</h2></mat-card-title>
      <mat-card-content>
        <br>
        <h3>1. Sex</h3>
        <mat-form-field >
          <mat-label>Sex defined at birth</mat-label>
          <mat-select formControlName="sex" [compareWith]="sexSelected">
            <mat-option *ngFor="let option of sexOpt" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <h3>2. Enter the place of birth and date</h3>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="cityOfBirth">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Provence" formControlName="provinceOfBirth">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Country" formControlName="countryOfBirth">
        </mat-form-field>
        <mat-form-field>
          <input placeholder="Date"
                 matInput
                 formControlName="dateOfBirth">
          <mat-hint>
            Format DD/MMM/YYYY. Use a 3-letter abbreviation for month to avoid misinterpretation (US vs. European style)
          </mat-hint>
        </mat-form-field>
        <br><br>
        <h3>3. Enter the weight and height</h3>
        <mat-form-field>
          <input placeholder="Height" matInput formControlName="height">
          <mat-hint>Cm</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input placeholder="Weight" matInput formControlName="weight">
          <mat-hint>Kg</mat-hint>
        </mat-form-field>
        <br>
        <h3>4. Select your ethnicity</h3>
        <mat-form-field>
          <mat-label>Ethnicity</mat-label>
          <mat-select formControlName="ethnicity">
            <mat-option *ngFor="let option of ethnicityOpt" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>

        </mat-form-field>
        <div *ngIf="form.value.ethnicity === 'other'">
            <mat-label>Specify</mat-label>
            <input matInput formControlName="otherEthnicity">
          </div>
        <br><br>
        <h3>5. Enter your residency</h3>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="cityOfResidence" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Provence" formControlName="provinceOfResidence" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Country" formControlName="countryOfResidence" required>
        </mat-form-field>
        <br>
        <h3>6. Specify your level of education</h3>
        <mat-form-field>
          <mat-label>Education</mat-label>
          <mat-select formControlName="education">
            <mat-option *ngFor="let option of educationOpt" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <h3>7. Specify your current occupational status</h3>
        <mat-form-field>
          <mat-label>Occupation</mat-label>
          <mat-select formControlName="currentOccupationalStatus" required>
            <mat-option *ngFor="let option of occupationOpt" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button">
          <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>

