<div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
    <mat-card>
      <mat-card-title><h2>{{"SECTION" | translate}} A.2</h2></mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>1. {{"SECTION_A2_1_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">
              <br>
              <mat-form-field class="container">
                <mat-label>{{"SECTION_A2_1_LABEL" | translate}}</mat-label>
                <mat-select formControlName="sex">
                  <mat-option *ngFor="let option of sexOpt" [value]="option.value">
                    {{ option.viewValue | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>

          <mat-grid-tile rowspan="2">
            <mat-grid-tile-header>
              <h3>2.1 {{"SECTION_A2_2_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <br>
            <mat-card-content class="container">
              <mat-form-field class="container">
                <input matInput placeholder='{{"SECTION_A2_2_CITY_PLACEHOLDER" | translate}}' formControlName="cityOfBirth">
              </mat-form-field>
              <mat-form-field class="container">
                <input matInput placeholder='{{"SECTION_A2_2_PROVINCE_PLACEHOLDER" | translate}}' formControlName="provinceOfBirth">
              </mat-form-field>
              <mat-form-field class="container">
                <input matInput placeholder='{{"SECTION_A2_2_COUNTRY_PLACEHOLDER" | translate}}' formControlName="countryOfBirth">
              </mat-form-field>
              <mat-form-field class="container">
                <input placeholder='{{"SECTION_A2_2_DATE_PLACEHOLDER" | translate}}'
                       matInput
                       formControlName="dateOfBirth">
                <mat-hint>
                  {{"SECTION_A2_2_DATE_PLACEHOLDER_HINT" | translate}}
                </mat-hint>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>3. {{"SECTION_A2_3_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">

              <mat-form-field class="container">
                <input placeholder='{{"SECTION_A2_3_HEIGHT_PLACEHOLDER" | translate}}' matInput formControlName="height">
                <mat-hint>Cm</mat-hint>
              </mat-form-field>
              <mat-form-field class="container">
                <input placeholder='{{"SECTION_A2_3_WEIGHT_PLACEHOLDER" | translate}}' matInput formControlName="weight">
                <mat-hint>Kg</mat-hint>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>4. {{"SECTION_A2_4_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">

              <mat-form-field>
                <mat-label>{{"SECTION_A2_4_LABEL" | translate}}</mat-label>
                <mat-select formControlName="ethnicity">
                  <mat-option *ngFor="let option of ethnicityOpt" [value]="option.value">
                    {{option.viewValue | translate }}
                  </mat-option>
                </mat-select>

              </mat-form-field>
              <div *ngIf="form.value.ethnicity === 'other'">
                <mat-label>{{"SECTION_A2_4_OTHER_PLACEHOLDER" | translate}}</mat-label>
                <input matInput formControlName="otherEthnicity">
              </div>
            </mat-card-content>
          </mat-grid-tile>

          <mat-grid-tile rowspan="2">
            <mat-grid-tile-header>
              <h3>5. {{"SECTION_A2_5_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">
              <mat-form-field>
                <input matInput placeholder='{{"SECTION_A2_5_CITY_PLACEHOLDER" | translate}}' formControlName="cityOfResidence" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder='{{"SECTION_A2_5_PROVINCE_PLACEHOLDER" | translate}}' formControlName="provinceOfResidence" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder='{{"SECTION_A2_5_COUNTRY_PLACEHOLDER" | translate}}' formControlName="countryOfResidence" required>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>6. {{"SECTION_A2_6_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">

              <mat-form-field class="container">
                <mat-label>{{"SECTION_A2_6_LABEL" | translate}}</mat-label>
                <mat-select formControlName="education">
                  <mat-option *ngFor="let option of educationOpt" [value]="option.value">
                    {{option.viewValue | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>7. {{"SECTION_A2_7_TITLE" | translate}}</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">

              <mat-form-field>
                <mat-label>{{"SECTION_A2_7_LABEL" | translate}}</mat-label>
                <mat-select formControlName="currentOccupationalStatus" required>
                  <mat-option *ngFor="let option of occupationOpt" [value]="option.value">
                    {{option.viewValue | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
        </mat-grid-list>
        <br>
        <div class="button">
          <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary" matStepperNext> {{"BUTTON_NEXT" | translate}}</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>

