<mat-horizontal-stepper linear="true" #stepper labelPosition="bottom"
                        *ngIf="(authenticationService.currentUserSubject$ | async)?.role === 'ROLE_CASE' ||
                        (authenticationService.currentUserSubject$ | async)?.role === 'ROLE_CONTROL'" >

<!--  <mat-step>-->
<!--    <app-section-b2></app-section-b2>-->
<!--  </mat-step>-->
  <mat-step>
    <app-section-b3></app-section-b3>
  </mat-step>
  <mat-step>
    <app-section-e section="b"></app-section-e>
  </mat-step>
</mat-horizontal-stepper>

<mat-horizontal-stepper *ngIf="(authenticationService.currentUserSubject$ | async)?.role === 'ROLE_DOCTOR' "  linear="true"
                        #stepper>
<!--  <mat-step>-->
<!--    <app-section-c1></app-section-c1>-->
<!--  </mat-step>-->
<!--  <mat-step>-->
<!--    <app-section-c2></app-section-c2>-->
<!--  </mat-step>-->
<!--  <mat-step>-->
<!--    <app-section-c3></app-section-c3>-->
<!--  </mat-step>-->
<!--  <mat-step>-->
<!--    <app-section-e section="c"></app-section-e>-->
<!--  </mat-step>-->
  <div>
    <mat-step *ngIf="form">
      <form (ngSubmit)="save()" [formGroup]="form">
        <mat-form-field class="custom-width-400">
          <input matInput formControlName="number" placeholder="Insert number of primary melanoma">
        </mat-form-field>
        <div class="button">
          <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step *ngFor="let i of Ds">
      <app-section-d [type]="i"></app-section-d>
    </mat-step>
  </div>
</mat-horizontal-stepper>
