<mat-horizontal-stepper linear="true" #stepper>
  <!--  <mat-step completed="true" editable="false">-->
  <!--    <app-section-a1></app-section-a1>-->
  <!--  </mat-step>-->
  <!--  <mat-step>-->
  <!--    <app-section-a2></app-section-a2>-->
  <!--  </mat-step>-->
  <!--  <mat-step>-->
  <!--    <app-section-b1></app-section-b1>-->
  <!--  </mat-step>-->
  <!--  <mat-step>-->
  <!--     <app-section-b2></app-section-b2>-->
  <!--  </mat-step>-->
<!--  <mat-step>-->
<!--    <app-section-b3></app-section-b3>-->
<!--  </mat-step>-->
<!--  <mat-step>-->
<!--    <app-section-e></app-section-e>-->
<!--  </mat-step>-->
<!--<mat-step>-->
<!--  <app-section-c1></app-section-c1>-->
<!--</mat-step>-->
  <mat-step>
    <app-section-c2></app-section-c2>
  </mat-step>
</mat-horizontal-stepper>
<!--TODO Fix stepper problem. -->
