.mat-form-field{
  width: 50%;
}

.mat-card-content{
  font-size: 17px;
}

.mat-form-field{
  margin-left:5px;
}

.mat-card img{
  object-fit: cover;
  width: 100%;
  height: 80%;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.radio {
  display: flex;
  justify-content: center;
}

/deep/ .mat-figure{
  flex-direction: column !important;
}

.container {
  width: 100%;
}

::ng-deep mat-form-field {
  width: 100% !important;
}
