<mat-card>
  <mat-card-title>{{ "LOGIN" | translate }}</mat-card-title>
  <mat-card-content>
    <div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">{{ "LOGIN" | translate }}</button>
        </div>
      </form>

      <br>
      <mat-divider></mat-divider>
      <br>
      <a class="signup" (click)="showSignup()">{{ "SIGNUP_MSG" | translate }}</a>
      <div *ngIf="visible">
        <h4>{{"SIGNUP_USER_TYPE" | translate }}</h4>
        <mat-form-field>
          <mat-label>{{ "TYPE" | translate }}</mat-label>
          <mat-select  [(value)]="role" required>
            <mat-option value="CASE">{{ "CASE" | translate }}</mat-option>
            <mat-option value="CONTROL">{{ "CONTROL" | translate }}</mat-option>
            <mat-option value="DOCTOR">{{ "DOCTOR" | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button">
          <button mat-raised-button color="accent" (click)="signup()">{{ "SIGNUP" | translate }}</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #successDialog>
  <h2 matDialogTitle>{{ "SIGNUP_OK_TITLE" | translate }}</h2>
  <div matDialogContent>
    {{ "SIGNUP_OK_BODY_1" | translate }}

    <ul>
      <li><b>Username</b>: {{ newUser.username }}</li>
      <li><b>Password</b>: {{ newUser.password }}</li>
    </ul>
    {{ "SIGNUP_OK_BODY_2" | translate }}
  </div>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="generatePDF()">
      <mat-icon>arrow_downward</mat-icon>
      <span>{{ "SINGUP_BUTTON_DOWNLOAD" | translate }}</span>
     </button>
    <button mat-raised-button color="primary" matDialogClose (click)="submit()">
      <mat-icon>keyboard_arrow_right</mat-icon>
      <span>{{ "LOGIN" | translate }}</span>
    </button>
  </mat-dialog-actions>
</ng-template>
