<div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
    <mat-card>
      <mat-card-title><h2>Section C.2</h2></mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>1. Medical diagnosis</h3>
            </mat-grid-tile-header>
            <mat-card-content>
              History of medical (non-cancer) diagnoses.
              <br>
              <button type="button" mat-raised-button (click)="openMedicalDiagnosisModal()">Open modal</button>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              <h3>2. Previous and concomitant treatments </h3>
            </mat-grid-tile-header>
            <mat-card-content>
              Record all medications and time of drug exposure.
              <br>
              <button type="button" mat-raised-button (click)="openTreatmentModal()">Open modal</button>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile rowspan="3">
            <mat-grid-tile-header>
              <h3>3.1 Pregnancy history</h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">
              <p>Please describe the closest pregnancy as a time event to melanoma diagnosis</p>
              <mat-form-field>
                <mat-label>Number of full term pregnancies</mat-label>
                <input matInput type="number" formControlName="numberOfFullTermPregnancies" placeholder="No. of full-term pregnancies">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Date of birth of children</mat-label>
                <input matInput formControlName="dateOfBirthOfChildren" placeholder="Date of birth of first child">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Number of miscarriages</mat-label>
                <input matInput type="number" formControlName="numberOfMiscarriages" placeholder="No. of miscarriages">
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>


          <mat-grid-tile rowspan="3">
            <mat-grid-tile-header>
              <h3>3.2 Pregnancy history</h3>
            </mat-grid-tile-header>
            <mat-card-content>
              <br>
              <h4>Did melanoma occur during pregnancy?</h4>
              <mat-radio-group aria-label="Select yes or no" formControlName="melanomaOccurDuringPregnancy">
                <mat-radio-button [value]=true>Yes</mat-radio-button>
                <mat-radio-button [value]=false>No</mat-radio-button>
              </mat-radio-group>
              <br>
              <h4>Did melanoma occur before pregnancy?</h4>
              <mat-radio-group aria-label="Select yes or no" formControlName="melanomaOccurBeforePregnancy">
                <mat-radio-button [value]=true>Yes</mat-radio-button>
                <mat-radio-button [value]=false>No</mat-radio-button>
              </mat-radio-group>
              <br>
              <mat-form-field *ngIf="form.value.melanomaOccurBeforePregnancy">
                <input
                  matInput
                  placeholder="How many years before pregnancy?"
                  formControlName="howManyYearsBeforePregnancy">
              </mat-form-field>
              <br>
              <h4>Did melanoma occur after pregnancy?</h4>
              <mat-radio-group aria-label="Select yes or no" formControlName="melanomaOccurAfterPregnancy">
                <mat-radio-button [value]=true>Yes</mat-radio-button>
                <mat-radio-button [value]=false>No</mat-radio-button>
              </mat-radio-group>
              <br>
              <mat-form-field *ngIf="form.value.melanomaOccurAfterPregnancy">
                <input
                  matInput
                  placeholder="How many years after pregnancy?"
                  formControlName="howManyYearsAfterPregnancy">
              </mat-form-field>
              <br>
              <h4>History of hormone-assisted pregnancy (IVF) before diagnosis</h4>
              <mat-radio-group aria-label="Select yes or no" formControlName="ivfbeforeDiagnosis">
                <mat-radio-button [value]=true>Yes</mat-radio-button>
                <mat-radio-button [value]=false>No</mat-radio-button>
              </mat-radio-group>
            </mat-card-content>
          </mat-grid-tile>

          <mat-grid-tile rowspan="2">
            <mat-grid-tile-header>
              <h3>4. Lifetime history of non-melanoma skin cancer, KSC </h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">
              <h4>
                Basal Cell Carcinoma
              </h4>
              <mat-form-field>
                <mat-label>Insert number of Bcc</mat-label>
                <input matInput type="number" formControlName="numberBcc" placeholder="Insert the number of BCC">
              </mat-form-field>

              <br>
              <div *ngIf="form.value.numberBcc">
                <h4>
                  Before or after melanoma diagnosis?
                </h4>
                <mat-radio-group aria-label="Select yes or no" formControlName="whenBcc">
                  <mat-radio-button value="after">After</mat-radio-button>
                  <mat-radio-button value="before">Before</mat-radio-button>
                </mat-radio-group>
                <br>
                <mat-form-field>
                  <mat-label>Insert site</mat-label>
                  <input matInput placeholder="Insert site" formControlName="siteBcc">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Insert date of diagnosis</mat-label>
                  <input matInput placeholder="Date of diagnosis" formControlName="dateOfDiagnosisBcc">
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-grid-tile>

          <mat-grid-tile rowspan="2">
            <mat-grid-tile-header>
              <h3>4. Lifetime history of non-melanoma skin cancer, KSC </h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">
              <h4>
                Invasive Squamous Cell Carcinoma
              </h4>
              <mat-form-field>
                <mat-label>Invasive Squamous Cell Carcinoma</mat-label>
                <input matInput type="number" formControlName="numberScc" placeholder="Insert the number of ISCC">
              </mat-form-field>
              <br>
              <div *ngIf="form.value.numberScc">
                <h4>
                  Before or after melanoma diagnosis?
                </h4>
                <mat-radio-group aria-label="Select yes or no" formControlName="whenScc">
                  <mat-radio-button value="after">After</mat-radio-button>
                  <mat-radio-button value="before">Before</mat-radio-button>
                </mat-radio-group>
                <br>
                <mat-form-field>
                  <mat-label>Insert site</mat-label>
                  <input matInput placeholder="Insert site" formControlName="siteScc">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Insert date of diagnosis</mat-label>
                  <input matInput placeholder="Date of diagnosis" formControlName="dateOfDiagnosisScc">
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-grid-tile>

          <mat-grid-tile rowspan="2">
            <mat-grid-tile-header>
              <h3>4. Lifetime history of non-melanoma skin cancer, KSC </h3>
            </mat-grid-tile-header>
            <mat-card-content class="container">
              <h4>
                In situ Squamous Cell Carcinoma
              </h4>
              <mat-form-field>
                <mat-label>Insert number of In Situ SCC</mat-label>
                <input matInput type="number" formControlName="numberInScc" placeholder="Insert the number of SSCC">
              </mat-form-field>
              <br>
              <div *ngIf="form.value.numberInScc">
                <mat-form-field>
                  <mat-label>
                    Choose the type of SSCC
                  </mat-label>
                  <mat-select formControlName="typeInScc">
                    <mat-option *ngFor="let option of lifetimeSsccOpt" [value]="option.value">
                      {{option.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <h4>
                  Before or after melanoma diagnosis?
                </h4>
                <mat-radio-group aria-label="Select yes or no" formControlName="whenInScc">
                  <mat-radio-button value="after">After</mat-radio-button>
                  <mat-radio-button value="before">Before</mat-radio-button>
                </mat-radio-group>
                <br>
                <mat-form-field>
                  <mat-label>Insert site</mat-label>
                  <input matInput placeholder="Insert site" formControlName="siteInScc">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Insert date of diagnosis</mat-label>
                  <input matInput placeholder="Date of diagnosis" formControlName="dateOfDiagnosisInScc">
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-grid-tile>


          <mat-grid-tile rowspan="2">
            <mat-grid-tile-header>
              <h3>5. Other non-cutaneous neoplasia</h3>
            </mat-grid-tile-header>
            <mat-card-content>
              <mat-label>Specify</mat-label>
              <mat-form-field>
                <input matInput formControlName="typeNonCutaneous" placeholder="Insert type of neoplasia">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="ageOfDiagnosis" placeholder="Insert age at diagnosis">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="yearOfDiagnoses" placeholder="Insert year at diagnosis">
              </mat-form-field>
            </mat-card-content>
          </mat-grid-tile>
        </mat-grid-list>

        <div class="button">
          <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>

<ng-template #medicalDiagnosisDialog class="mat-dialog-container">
  <h2 matDialogTitle>Parents with melanoma</h2>
  <form (ngSubmit)="addMedicalDiagnosis()" [formGroup]="formDiagnosis">

    <div matDialogContent>
      <br>
      <table mat-table [dataSource]="medicalDiagnosisTable" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.diagnosisName }} </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> ICD10 Code </th>
          <td mat-cell *matCellDef="let element"> {{element.icd10Code}} </td>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" matTooltip="Remove" (click)="removeMedicalDiagnosis(element)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br><br>
      <mat-form-field>
        <mat-label>
          Insert the diagnosis
        </mat-label>
        <input matInput formControlName="diagnosisName" placeholder="Insert diagnoses name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Insert the ICD10 code
        </mat-label>
        <input matInput formControlName="icd10Code" placeholder="Insert diagnoses ICD-10 code">
      </mat-form-field>
    </div>
    <mat-dialog-actions align="end">
      <button type="submit" [disabled]="!formDiagnosis.valid" mat-raised-button color="primary">
        Add diagnosis
      </button>
      <button mat-raised-button color="primary" matDialogClose>
        <mat-icon>close</mat-icon>
        <span>Close</span>
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>

<!--Treatments-->
<ng-template #treatmentsDialog class="mat-dialog-container">
  <h2 matDialogTitle>Previous medical treatments</h2>
  <form (ngSubmit)="addTreatment()" [formGroup]="formTreatments">

    <div matDialogContent>
      <br>
      <table mat-table [dataSource]="treatmentsTable" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.treatmentName }} </td>
        </ng-container>

        <!-- Start Column -->
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef> Start time </th>
          <td mat-cell *matCellDef="let element"> {{element.treatmentStartingTime}} </td>
        </ng-container>

        <!-- End Column -->
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef> End time </th>
          <td mat-cell *matCellDef="let element"> {{element.treatmentEndingTime}} </td>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" matTooltip="Remove" (click)="removeTreatment(element)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTreatments"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTreatments;"></tr>
      </table>
      <br><br>
      <mat-form-field>
        <mat-label>Insert name of the treatment</mat-label>
        <input matInput formControlName="treatmentName" placeholder="Insert treatment name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Insert starting time for the treatment</mat-label>
        <input matInput formControlName="treatmentStartingTime" placeholder="Insert date of treatment's start">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Insert end time for the treatment</mat-label>
        <input matInput formControlName="treatmentEndingTime" placeholder="Insert date of treatment's end">
      </mat-form-field>
    </div>
    <mat-dialog-actions align="end">
      <button type="submit" [disabled]="!formTreatments.valid" mat-raised-button color="primary">
        Add treatment
      </button>
      <button mat-raised-button color="primary" matDialogClose>
        <mat-icon>close</mat-icon>
        <span>Close</span>
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>
