<div>
  <form [formGroup]="form">
    <mat-card>
      <mat-card-title><h2>Section C.1</h2></mat-card-title>
      <mat-card-content>
        <br>
        <h3>1. Solar Lentigines</h3>

          <mat-label>
            Permanent multiple macular pigmented lesions, aggregated,
            in areas of chronic sun exposure, do not disappear in winter
          </mat-label>
            <mat-select formControlName="howManySolarLentigines">
              <mat-option *ngFor="let option of lentiginesOpt" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
        <h4>At site of melanoma?</h4>
        <mat-radio-group aria-label="Select yes or no" formControlName="solarLentiginesAtSiteOfMelanoma">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <br>

        <h3>2. Nevi count</h3>
        <div>
          <p>
            Consider nevi >2 mm and include all nevi (common, clinically atypical, and congenital)
          </p>
          <mat-grid-list cols="3" rowHeight="6:1">
            <mat-grid-tile>Site</mat-grid-tile>
            <mat-grid-tile>Number (left)</mat-grid-tile>
            <mat-grid-tile>Number (right)</mat-grid-tile>
            <mat-grid-tile>Scalp</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountLeftScalp">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountRightScalp">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>Face (including ears)</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountLeftFace">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountRightFace">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>Neck</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountLeftNeck">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountRightNeck">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="padding">Anterior thorax + abdomen</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountLeftAbdomen">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountRightAbdomen">
              </mat-form-field>
            </mat-grid-tile>
          <mat-grid-tile class="padding">Back</mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="neviCountLeftBack">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="neviCountRightBack">
            </mat-form-field>
          </mat-grid-tile>
            <mat-grid-tile class="padding">Upper extremities including deltoid</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountLeftDeltoid">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountRightDeltoid">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="padding">Lower extremities including gluteus</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountLeftGluteus">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountRightGluteus">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="padding">Palms</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountLeftPalms">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountRightPalms">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="padding">Soles</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountLeftSoles">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="neviCountRightSoles">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <br>

        <h3>3. Nevi count < 2mm</h3>
        <mat-form-field>
          <mat-label>
            How many nevi of dimension less then 2mm?
          </mat-label>
          <mat-select formControlName="neviCountLessThan2mm">
            <mat-option *ngFor="let option of neviLess2mmOpt" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <h3>4. Clinically atypical nevi</h3>
              <mat-label>
                Macular (i.e. flat) component in at least part of the lesion (mandatory)
                and at least 3 of the following criteria.
              </mat-label>
              <input matInput type="number" formControlName="howManyClinicallyAtypicalNevi">
              <h4>At site of melanoma?</h4>
              <mat-radio-group aria-label="Select yes or no" formControlName="clinicallyAtypicalNeviAtSiteOfMelanoma">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="0">No</mat-radio-button>
              </mat-radio-group>
        <br>
        <h3>5. Congenital nevi</h3>
          <h4>
            Medium sized (1.5 – 19.9 cm )
          </h4>
          <mat-radio-group aria-label="Select yes or no" formControlName="presenceOfMediumSizedNevi">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
          </mat-radio-group>
          <h4>At site of melanoma?</h4>
          <mat-radio-group *ngIf="form.value.presenceOfMediumSizedNevi" aria-label="Select yes or no" formControlName="siteOfMediumSizedNevi">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
          </mat-radio-group>
        <br>
        <h4>
          Large sized ( greater than 19.9cm )
        </h4>
        <mat-radio-group aria-label="Select yes or no" formControlName="presenceOfLargeSizedNevi">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <h4>At site of melanoma?</h4>
        <mat-radio-group *ngIf="form.value.presenceOfLargeSizedNevi" aria-label="Select yes or no" formControlName="siteOfLargeSizedNevi">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <h4>
          Giant sized ( greater than 39.9cm )
        </h4>
        <mat-radio-group aria-label="Select yes or no" formControlName="presenceOfGiantNevi">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <h4>At site of melanoma?</h4>
        <mat-radio-group *ngIf="form.value.presenceOfGiantNevi" aria-label="Select yes or no" formControlName="siteOfGiantSizedNevi">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <h3>6. Blue nevi</h3>
        <mat-radio-group aria-label="Select yes or no" formControlName="blueNeviPresence">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <input *ngIf="form.value.blueNevi" type="number" placeholder="Insert how many" formControlName="numberOfBlueNevi">
        <br>

        <h3>7. Actinic keratoses</h3>
        <mat-radio-group aria-label="Select yes or no" formControlName="actinicKeratosesPresence">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <input matInput *ngIf="form.value.actinicKeratoses" placeholder="Insert the site" formControlName="actinicKeratosesSite">
        <mat-form-field>
          <mat-label>
            Choose the predominant type of distribution
          </mat-label>
          <mat-select formControlName="actinicKeratosesTypeOfDistribution">
            <mat-option *ngFor="let option of distributionOpt" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <h3>8. Current non-melanoma skin cancer, KSC</h3>
        <h4>Basal Cell Carcinoma</h4>
        <mat-radio-group aria-label="Select yes or no" formControlName="bCCPresence">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <input matInput *ngIf="form.value.bcc" placeholder="Insert the site" formControlName="bCCSite">
        <input matInput *ngIf="form.value.bcc" type="number" placeholder="Insert the number" formControlName="bCCNumber">
        <br>

        <h4>Invasive Squamous Cell Carcinoma</h4>
        <mat-radio-group aria-label="Select yes or no" formControlName="iSCCPresence">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <input matInput *ngIf="form.value.iscc" placeholder="Insert the site" formControlName="iSCCSite">
        <input matInput *ngIf="form.value.iscc" type="number" placeholder="Insert the number" formControlName="iSCCNumber">
        <br>

        <h4>In situ Squamous Cell Carcinoma</h4>
        <mat-radio-group aria-label="Select yes or no" formControlName="sSCCPresence">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <input matInput *ngIf="form.value.sscc" placeholder="Insert the site" formControlName="sSCCSite">
        <input matInput *ngIf="form.value.sscc" type="number" placeholder="Insert the number" formControlName="sSCCNumber">
        <br>

        <div>
          <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>

