<div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
    <mat-card>
      <mat-card-title><h2>Section B.2</h2></mat-card-title>
      <mat-card-content>
        <br>
        <h3>1. Occupational sun exposure</h3>
        <mat-label>Outdoor occupation with at least 4 hours/day spent outdoor in the sun</mat-label>
        <br>
        <mat-radio-group aria-label="Select yes or no" formControlName="occupationalSunExposure">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
          <!--            TODO Center -->
        </mat-radio-group>
        <div *ngIf="form.value.occupationalSunExposure == 1">
          <mat-form-field>
            <input matInput formControlName="occupationalSunExposureType" placeholder="Insert occupation">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="occupationalSunExposureHours" placeholder="How many hours per day?">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="occupationalSunExposureDays" placeholder="How many days per month?">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="occupationalSunExposureMonths" placeholder="How many months per year?">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="occupationalSunExposureYears" placeholder="How many years?">
          </mat-form-field>
        </div>
        <br>
        <h3>2. Recreational sun exposure</h3>
        <mat-label>
          Outdoor hobbies or physical activities–other than sunbathing–with at least 4 hours/day spent outdoor in the sun
        </mat-label>
        <br>
        <mat-radio-group aria-label="Select yes or no" formControlName="recreationalSunExposure">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
          <!--            TODO Center -->
        </mat-radio-group>
        <div *ngIf="form.value.recreationalSunExposure == 1">
          <mat-form-field>
            <input matInput formControlName="recreationalSunExposureType" placeholder="Insert recreation">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="recreationalSunExposureHours" placeholder="How many hours per day?">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="recreationalSunExposureDays" placeholder="How many days per month?">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="recreationalSunExposureMonths" placeholder="How many months per year?">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="recreationalSunExposureYears" placeholder="How many years?">
          </mat-form-field>
        </div>
        <br>

        <h3>3. Intermittent sun exposure</h3>
        <div>
          <p>
            Sun exposure in spring and summer time, including vacation, during peak hours 11AM-4PM
          </p>
          <mat-grid-list cols="3" rowHeight="6:1">
            <mat-grid-tile>Age period</mat-grid-tile>
            <mat-grid-tile>Weeks of vacation</mat-grid-tile>
            <mat-grid-tile>Hours spent between 11AM - 4PM</mat-grid-tile>
            <mat-grid-tile>Childhood (up to age 10 yrs)</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="intermittentExposureChildhoodWeeks">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="intermittentExposureChildhoodHours">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>Adolescence (11-18 yrs)</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="intermittentExposureAdolescenceWeeks">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="intermittentExposureAdolescenceHours">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>Adulthood (>=18 yrs)</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="intermittentExposureAdulthoodWeeks">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="intermittentExposureAdulthoodHours">
              </mat-form-field>
            </mat-grid-tile>
            <!-- QUESTA È UNA DOMANDA CHE VA SPLITTATA FRA CASE E CONTROL -->
            <mat-grid-tile class="padding">10 years before melanoma diagnosis (for cases) or last 10 years (for controls)</mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="intermittentExposureDiagnosisWeeks">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="intermittentExposureDiagnosisHours">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <br>

        <h3>4. Most recent intense intermittent sun exposure</h3>
        <mat-form-field >
          <!-- Anche qui dividere fra case e control -->
          <mat-label>
            Provide date or month of last time of intense intermittent sun exposure before
            the diagnosis of melanoma (for cases)
            or before this interview (for controls)
          </mat-label>
          <input matInput placeholder ="Last intense sun exposure" formControlName="lastIntenseExposure">
          <mat-hint>
            Definition: Light brown small macules since childhood, on the face,
            during summer time (disappear in winter)
          </mat-hint>
        </mat-form-field>
        <br>

        <h3>5. Severe sunburns</h3>
        <div>
          Suburns with erythema and pain for more than 2 days or with blisters
        </div>
        <br>
        <mat-radio-group aria-label="At age <18 years" formControlName="sunburnsLess18">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
          <mat-radio-button value="2">Not known</mat-radio-button>
          <!--            TODO Center -->
        </mat-radio-group>
        <br>
        <mat-form-field *ngIf="form.value.sunburnsLess18 == 1">
          <input matInput
                 placeholder="Specify how many"
                 formControlName="less18SunburnsNumber">
        </mat-form-field>
        <h4> At age >= 18 years</h4>
        <mat-radio-group aria-label="At age >= 18 years" formControlName="sunburnsGreater18">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
          <mat-radio-button value="2">Not known</mat-radio-button>
          <!--            TODO Center -->
        </mat-radio-group>
        <br>
        <mat-form-field  *ngIf="form.value.sunburnsGreater18 == 1">
          <input matInput
                 placeholder="Specify how many"
                 formControlName="greater18SunburnsNumber">
        </mat-form-field>
        <br>
        <h4> At site of melanoma</h4>
        <mat-radio-group aria-label="At site of melanoma" formControlName="sunburnsMelanomaSite">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
          <mat-radio-button value="2">Not known</mat-radio-button>
        </mat-radio-group>
        <br>
        <h4> In the last 5 years</h4>
        <mat-radio-group aria-label="In the last 5 years" formControlName="sunburnsLast5">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
          <mat-radio-button value="2">Not known</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field *ngIf="form.value.sunburnsLast5 == 1">
          <input matInput
                 placeholder="Specify how many"
                 formControlName="last5SunburnsNumber">
          <br>
        </mat-form-field>
        <br>
        <h3>6. Sunscreen use</h3>
        <div>
          <p> Specify your sunscreen use during summer times</p>
          <mat-grid-list cols="3" rowHeight="6:1">
            <mat-grid-tile>Age period</mat-grid-tile>
            <mat-grid-tile>Did you use sunscreens during the summertime?</mat-grid-tile>
            <mat-grid-tile>Type of sunscreen used:</mat-grid-tile>
            <mat-grid-tile>Childhood (up to age 10 yrs)</mat-grid-tile>
            <mat-grid-tile>

              <mat-select placeholder="Select a percentage" formControlName="sunscreenPercentageChildhood">
                <mat-option *ngFor="let option of sunscreenPercentageOpt" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-select placeholder="Select a percentage" formControlName="sunscreenTypeChildhood">
                <mat-option *ngFor="let option of sunscreenTypeOpt" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-grid-tile>
            <mat-grid-tile>Adolescence (11-18 yrs)</mat-grid-tile>
            <mat-grid-tile>
              <mat-select placeholder="Select a percentage" formControlName="sunscreenPercentageAdolescence">
                <mat-option *ngFor="let option of sunscreenPercentageOpt" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-select placeholder="Select a percentage" formControlName="sunscreenTypeAdolescence">
                <mat-option *ngFor="let option of sunscreenTypeOpt" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-grid-tile>
            <mat-grid-tile>Adulthood (>=18 yrs)</mat-grid-tile>
            <mat-grid-tile>
              <mat-select placeholder="Select a percentage" formControlName="sunscreenPercentageAdulthood">
                <mat-option *ngFor="let option of sunscreenPercentageOpt" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-select placeholder="Select a percentage" formControlName="sunscreenTypeAdulthood">
                <mat-option *ngFor="let option of sunscreenTypeOpt" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-grid-tile>
            <!-- QUESTA È UNA DOMANDA CHE VA SPLITTATA FRA CASE E CONTROL -->
            <mat-grid-tile class="padding">10 years before melanoma diagnosis (for cases) or last 10 years (for controls)</mat-grid-tile>
            <mat-grid-tile>
              <mat-select placeholder="Select a percentage" formControlName="sunscreenPercentageMelanoma">
                <mat-option *ngFor="let option of sunscreenPercentageOpt" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-select placeholder="Select a percentage" formControlName="sunscreenTypeMelanoma">
                <mat-option *ngFor="let option of sunscreenTypeOpt" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-grid-tile>

          </mat-grid-list>
        </div>
        <br>

        <h3>7. Sunlamps/sunbeds</h3>
        <mat-label>
          Sunlamps/sunbeds
        </mat-label>
        <mat-radio-group aria-label="Select yes or no" formControlName="sunlamps">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="form.value.sunlamps == 1">
          <mat-form-field>
            <input matInput formControlName="numberSunlamps" placeholder="Lifetime number of sessions">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="ageFirstSunlamps" placeholder="Age at first exposure">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="ageLastSunlamps" placeholder="Age at last exposure">
          </mat-form-field>
        </div>
        <div>
          <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>

