<div>
  <form [formGroup]="form">
    <mat-card>
      <mat-card-title><h2>Section B.1</h2></mat-card-title>
      <mat-card-content>
        <br>
        <h3>1. Specify you skin type</h3>
        <mat-form-field >
          <mat-label>
            Which of the following sentences does better describe your skin response
            to sun exposure at noon for 30 minutes in the first days of the summer without
            sunscreen/clothing protection?
          </mat-label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button *ngFor="let option of burnOpt" [value]="option.value" >
              {{option.viewValue}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Does your skin tan after a prolonged and repeated sun exposure
            (e.g. after several days as at the end of the summer)
            without protecting it with sunscreen or clothing?
          </mat-label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button *ngFor="let option of tanOpt" [value]="option.value" >
              <mat-card>
                <mat-card-title>{{option.viewValue}}</mat-card-title>
                <img src="{{option.image}}" alt="{{option.viewValue}}"/>
              </mat-card>
            </mat-radio-button>
          </mat-radio-group>
        </mat-form-field>
        <br>
        <br>


        <h3>2. Specify you eye color</h3>
        <mat-form-field >
          <mat-label>
            Eye color
          </mat-label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button *ngFor="let option of eyeOpt" [value]="option.value" >
              <mat-card>
                <mat-card-title>{{option.viewValue}}</mat-card-title>
                <img src="{{option.image}}" alt="{{option.viewValue}}"/>
              </mat-card>
            </mat-radio-button>
          </mat-radio-group>
        </mat-form-field>
        <br>

        <h3>3. Specify you hair color (at age of 18 yrs)</h3>
        <mat-form-field >
          <mat-label>
            Hair color
          </mat-label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button *ngFor="let option of hairOpt" [value]="option.value" >
              <mat-card>
                <mat-card-title>{{option.viewValue}}</mat-card-title>
                <img src="{{option.image}}" alt="{{option.viewValue}}"/>
              </mat-card>
            </mat-radio-button>
          </mat-radio-group>
        </mat-form-field>
        <br>

        <h3>4. Specify your freckles situation</h3>
        <mat-form-field >
          <mat-label>
            Freckles
          </mat-label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button *ngFor="let option of freckleOpt" [value]="option.value" >
              <mat-card>
                <mat-card-title>{{option.viewValue}}</mat-card-title>
                <img src="{{option.image}}" alt="{{option.viewValue}}"/>
              </mat-card>
            </mat-radio-button>
          </mat-radio-group>
          <mat-hint>
            Definition: Light brown small macules since childhood, on the face,
            during summer time (disappear in winter)
          </mat-hint>
        </mat-form-field>
        <br>

        <h3>5. Specify your nevi situation</h3>
        <mat-form-field >
          <mat-label>
            Nevi in childhood/adolescence
          </mat-label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button *ngFor="let option of neviOpt" [value]="option.value" >
              <mat-card>
                <mat-card-title>{{option.viewValue}}</mat-card-title>
                <img src="{{option.image}}" alt="{{option.viewValue}}"/>
              </mat-card>
            </mat-radio-button>
          </mat-radio-group>
          <mat-hint>
            Definition: Light brown small macules since childhood, on the face,
            during summer time (disappear in winter)
          </mat-hint>
        </mat-form-field>
        <br>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>

